.App-intro {
  justify-content: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.errormessage {
  color: #a94442;
}

.App form label.required::after {
  color: #a94442;
  content: " *";
}

.App form p.requiredhelptext::before {
  color: #a94442;
  content: "* ";
}

.WelcomeJumbotron {
  background-image: url(../WelcomeBackground.jpg);
  background-size: cover;
  height: wrap-content;
  text-align: left;
}

.JumbotronMessage{
  text-align: left;
  font-weight: lighter;
  width: 60%;
  color: white;
}

.JumbotronButton {
  margin-top: 70px !important;
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0 !important;
}

.center-content-div {
  display: flex;
  justify-content: center;
}

a.btn {
  background-color: #286090;
  border-color: #286090;
  margin: 0 2.5px;
}

.application-table-button {
  width: 115px;
}

.Loading {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
