
/* manage postings css */
.description-text-area {
  margin-bottom: 20px;
}

div.ql-editor {
  margin-bottom:  60px;
}

div.thumbnail {
  margin-top: 60px;
}

/* job css */
a.company-website-link {
  margin-bottom: 10px;
}
