/* Reusing Applicable Styles from Signup Form  */
@media all and (min-width: 480px) {
  .BusinessApprovalRequest {
    text-align: center;
    padding: 60px 0;
  }

  .BusinessApprovalRequest form {
    margin: 0 auto;
    max-width: 400px;
  }
}
