.documents .div.button-div {
  display: flex;
  justify-content: center;
}

.documents a.btn {
  background-color: #286090;
  border-color: #286090;
  margin: 0 2.5px;
}

.documents .div.file-type {
  width: 50px;
}

.documents form {
  padding-top: 20px;
}

.documents form input {
  width: 400px !important;
}

.documents form .control-label {
  font-size: 14px;
}

.documents button {
  justify-content: center;
  width: 200px !important;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

.documents form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.documents form span.help-block.errormessage {
  color: #a94442;
}

.documents form p.requiredhelptext {
  margin-left: 475px;
}

.documents form .avatarUpload {
  margin-left: 200px;
}

.documents button {
  margin-left: 5px;
  margin-right: 5px;
}

.documents input.file-upload {
  margin: 10px 15px;
}

.documents p.helper-text {
  margin: 20px;
}

.documents p.documents-message {
  margin-left: 20px;
  margin-bottom: 0px !important;
}
