@media all and (min-width: 480px) {
  .ForgotPassword {
    text-align: center;
    padding: 60px 0;
  }

  .ForgotPassword form {
    margin: 0 auto;
    max-width: 450px;
  }

  .ForgotPassword button {
    margin: 10px;
  }

  .forgot-password-link {
    margin: 10px;
  }
}
