.Job {
  text-align: left;
}

.predescription {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
}

#deadline {
  float: right;
  margin-right: 5px;
}

.contactdetailspanel {
  width: 50%;
}

.Job button.user-buttons {
  margin-left: 10px;
  width: 120px;
}

.Job button.manage-postings {
  margin-top: 5px;
}

.Job footer{
  float: right;
  color: gray;
  margin-right: 5px;
}

.deadline-text {
  margin-top: 10px;
}

.Job a.company-website-link {
  margin-bottom: 10px;
}
