.manage-postings-create-new {
  margin: 20px 0;
}

.ManagePostings .div.button-div {
  display: flex;
  justify-content: center;
}

.ManagePostings a.btn {
  background-color: #286090;
  border-color: #286090;
  margin: 0 2.5px;
}
