@media all and (min-width: 480px) {
  .ResetPassword {
    text-align: center;
    padding: 60px 0;
  }

  .ResetPassword form {
    margin: 0 auto;
    max-width: 450px;
  }

  .ResetPassword button {
    margin: 10px;
  }
}
