@media all and (min-width: 480px) {
  .ChangePassword {
    text-align: center;
    padding: 60px 0;
  }

  .ChangePassword form {
    margin: 0 auto;
    max-width: 400px;
  }

  .ChangePassword form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .ChangePassword form span.help-block.radioHelp {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
    text-align: left;
    padding-top: 10px;
  }

  .ChangePassword form span.help-block.errormessage {
    color: #a94442;
  }

  .ChangePassword .btn-toolbar {
    width: 200px !important;
    margin: auto;
    text-align: center;
  }
}

